{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 8"]
      }
    }],
    "stage-2"
  ],
  // "plugins": ["transform-vue-jsx", "transform-runtime",[
  //     "import",
  //     {
  //       "libraryName": "vant",
  //       "style": true
  //     }
  //   ]]
  // "plugins": [
  //   "transform-vue-jsx", 
  //   "transform-runtime",
  //   [
  //     "import",
  //     { 
  //       "libraryName": "vant", 
  //       "libraryDirectory": "es", 
  //       "style": true 
  //     },
  //     "vant" // 这个配置是依照官网实例而得，和众多网络版本不同
  //   ]
  // ]
}
